body {
    background-color: #eee;
    color: #444;
    font-family: sans-serif;
    font-size: 18px;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
.sect {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.sect-inner-wrap {
    width: 1180px;
}

.type-me-text-cont {
    height: 300px;
}